  .item{
    display: flex;
    background-color: #fff;
    border-width: 1px;
    border-color: #ccc;
    border-style: ridge;
    max-width: 100%;
    width: 100%;
    height: 75px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .item:hover{
    cursor: pointer;
    background-color: #fafafa;
  }
  
  .left {
    flex: 3;
    background-color: transparent;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 150px;
  }
  
  .right{
    flex:1;
    background-color: transparent;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

@media(max-width: 850px){
  .left {
    flex: 2;
    background-color: transparent;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10px;
  }
  .item{
    display: flex;
    background-color: #fff;
    border-width: 1px;
    border-color: #ccc;
    border-style: ridge;
    max-width: 100%;
    width: 100%;
    height: 150px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  } 
  .right{
    flex:1;
    background-color: transparent;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}